snippet keys "Keys"
var keys = function(obj) { var keys = []; for(var k in obj) keys.push(k); return keys; }
endsnippet

snippet clone "Clones objects"
Object.prototype.clone = function() {
  var newObj = (this instanceof Array) ? [] : {};
  for (i in this) {
    if (i == 'clone') continue;
    if (this[i] && typeof this[i] == "object") {
      newObj[i] = this[i].clone();
    } else newObj[i] = this[i]
  } return newObj;
};
endsnippet
