snippet pp "Import pretty printer with default config" b
import pprint; pp = pprint.PrettyPrinter(indent=4).pprint
endsnippet

snippet pf "Import pretty printer formatter with default config" b
import pprint; pf = pprint.PrettyPrinter(indent=4).pformat
endsnippet

